/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
#Ab-Con {
  color: black;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}



.welcome {
    margin-bottom:40px;
	  font-size: 45px;
}

#About {
	  font-size: 30px;
	  font-weight: 900;
    height:100vh;
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
    
}

#contact {
  height:50vh;
}

#Nav-Bar {
    height:10vh;
    background-color:#191919;
}

.Nav-Title {
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    margin-left:30px;
    font-size:35px;
    font-weight:bold;
    letter-spacing: 4px;
    color:white;
    margin-bottom:2px;
}

.nav-bt2 {
    margin-right:20px;
    margin-bottom:2px;
}

.nav-bt1 {
  margin-bottom:2px;
}


#Footer {
    height:10vh;
    background-color:#191919;
}

.conbuttxt {
  font-size:48px;
  font: 400 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  font-weight:bold;
}

@media (max-width: 320px) {

  #Nav-Bar {
    height:auto;
    display:flex;
    justify-content: center;
  }

  .Nav-Title {
    text-align: center;
  }
   
  #About {
    height:370vh;
  }

  #Footer {
    height:12vh;
  }
}

@media (max-width:600px) {
  #Nav-Bar {
    height:auto;
    display:flex;
    justify-content: center;
  }

  #About {
    height:200vh;
  }

  #Footer {
    height:12vh;
  }
}

@media (max-width:768px) {
  #Nav-Bar {
    height:auto;
    display:flex;
    justify-content: center;
  }

  #About {
    height:170vh;
  }
}


@media (max-width:900px) {
  #Nav-Bar {
    height:auto;
    display:flex;
    justify-content: center;
  }

  #About {
    height:70vh;
  }
}

@media (max-width:1200px) {
  #Nav-Bar {
    height:auto;
    display:flex;
    justify-content: center;
  }

  #About {
    height:120vh;
  }

}



